.chat-map-page-container {
    .detail-pane {
        height: 300px;
        overflow-y: auto;
        border-top: 1px solid #dee2e6;
    }
}

.markdown-content {
    p:last-child {
        margin-bottom: 0;
    }
}
